@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:host {
  font-size: 1em;
  cursor: pointer;
  padding: 1ex 1em;
  min-height: 36px;
  min-width: 36px;
  --fore: var(--default-text);
  --back: var(--body);
  transition: background .5s, color .5s, border-color .5s;

  background: var(--back);
  color: var(--fore);
  border: 1px solid var(--fore);

  &:hover,
  &:focus-visible {
    background: var(--fore);
    color: var(--back);
    border: 1px solid var(--fore);
  }

  &.outline {
    background-color: var(--body);
    border-color: var(--back);
    color: var(--back);

    &:hover,
    &:focus-visible {
      color: var(--fore);
      background-color: var(--back);
    }
  }

  &.icon-only {
    font-size: 1em;
    background: transparent;
    border: none;
    height: 2em;
    width: 2em;
    position: relative;

    &:hover,
    &:focus-visible {
      border: 1px solid #000;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.primary {
    --back: var(--primary);
    --fore: var(--primary-text);
  }

  &.secondary {
    --back: var(--secondary);
    --fore: var(--secondary-text);
  }


}

.icon {
  font-size: 1em;
  margin-right: 1em;

  &:last-child {
    margin: 0;
  }
}
