@use '../../../styles/_global';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  --fore: var(--btn-primary-text);
  --back: var(--btn-primary);
  width: auto;
  align-items: center;
  border-radius: 0;
  padding: .4em 1ex;
  background: var(--back);
  border: 1px solid var(--back);
  color: var(--fore);
  margin: 0 1ex;
  text-decoration: none;
  transition: all .2s;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus-visible {
    background: var(--fore);
    border-color: var(--back);
    color: var(--back);
  }
  &.small {
    font-size: .9em;
  }

  &.secondary {
    --fore: var(--btn-secondary-text);
    --back: var(--btn-secondary);
  }

  &.outline {
    border-color: var(--fore);
    background: transparent;
    color: var(--fore);

    &:hover,
    &:focus-visible {
      background: var(--fore);
      color: var(--back);
    }
  }

  &.icon-only {
    border: 1px solid transparent;
    background: transparent;
    color: var(--fore);
    position: relative;
    height: 2em;
    width: 2em;

    &:hover,
    &:focus-visible {
      color: var(--back);
      background: var(--fore);
    }

    .icon,
    .fa-regular,
    .fa-solid {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.success,
  &.republish {
    --fore: var(--success-text);
    --back: var(--success);
  }

  &.info,
  &.copy {
    --fore: var(--info-text);
    --back: var(--info);
  }

  &.danger,
  &.delete {
    --fore: var(--danger-text);
    --back: var(--danger);
  }

  &.error,
  &.archive {
    --fore: var(--error-text);
    --back: var(--error);
  }

  &.cancel {
    --fore: var(--neutral-text);
    --back: var(--neutral);
  }
}

.button-content {
  margin: 0 1ex;

  &:empty {
    display: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
