@use '../../../styles/_global';

:host {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1ex;
}
.toggle {
  position: relative;
  z-index: 10;
  &.open {
    &::before {
      content: '';
      @extend %backdrop;
    }
  }

}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 11;


  max-height: 0;
  overflow: hidden;

  transition: max-height .2s;

  &.open {
    max-height: 50vh;
  }
}
.dropdown-content {
  border: 1px solid var(--border);
  background: var(--body);
  text-align: right;
  max-width: 300px;
  padding: 10px;
}
.dropdown-list {
  margin: 1em 0 0;
  padding: 0;
  list-style-type: none;
}
.dropdown-item {
  margin-bottom: 1em;
  padding: 0 1em;
}
.logged-in {
  white-space: nowrap;
}
