@use '../../../styles/_global';
:host {
  display: block;
  position: relative;
  margin-top: 1em;
  max-width: 100%;
  box-sizing: border-box;

  &.checkbox {
    .label {
      display: inline-block;
    }

    .input {
      display: inline-block;
      width: auto;
    }
  }

  &.block {
    .label {
      display: block;
    }

    .input {
      display: block;
      width: 100%;
    }
  }

  &.inline {
    .field,
    .label {
      display: inline-block;
      width: auto;
    }

    .label {
      margin-right: 1ex;
    }
  }
}

.label {
  // display: block;
  font-weight: bold;
  margin: 0 0 .2em;
}

.input {
  // display: block;
  // width: 100%;
  font-size: 1em;
  max-width: 100%;
  box-sizing: border-box;
}

.error {
  margin: .4em 0 0;
  font-size: .8em;
  color: var(--danger);
}
teextarea {
  padding: .3ex;
  font-size: 1em;
  line-height: 1.5;
}
