<div class="fields">
  <div class="field password" label="New Password" [(model)]="newPassword"></div>
  <div *ngIf="isValid()" class="field password" label="Repeat Password" [(model)]="repeatNewPassword"></div>
</div>
<ul class="password-rules" *ngIf="newPassword">
  <li class="rule" *ngFor="let rule of getRules()">
    <i class="icon fas" [ngClass]="{'fa-circle-check': rule.fn(newPassword), 'fa-circle-xmark': !rule.fn(newPassword)}"></i>
    <span class="label">{{rule.label}}</span>
  </li>
</ul>

<button class="btn btn-primary" *ngIf="isValid() && repeatNewPassword === newPassword" (click)="resetPassword()">Reset password</button>
<p *ngIf="resetSuccessMsg">{{resetSuccessMsg}}. <a href="/login">Log in again</a></p>
