@use "../../page/page.component.scss";

.fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 -20px;

  .field {
    flex: 1 0 300px;
    max-width: 500px;
    margin: 0 20px;
  }
}

.password-rules {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .icon {
    margin-right: 1ex;

    &.fa-circle-check {
      color: var(--success);
    }
    &.fa-circle-xmark {
      color: var(--error);
    }
  }
}
