@use '../field/field.component';

.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.option {
  border-bottom: 1px solid var(--border);
  margin-bottom: .5lh;
  padding: .5lh 1ex;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
    margin: 0;
  }
}
.radio {
  display: none;
}
