@use '../../../styles/_global';


.drawer-toggle {
  position: relative;
}

.drawer-title {
  margin: 0 0 .5em;
}

.drawer-content-inner {
  padding: var(--space);
}

.drawer-close {
  position: absolute;
}

.drawer-content {
  position: absolute;
  background: var(--body);
  z-index: 25;
  display: none;
  overflow: auto;
  transition: transform .5s;

  &.transition {
    display: block;
  }

  &.top,
  &.bottom {
    left: 0;
    width: 100%;

    .drawer-close {
      right: 0;
    }

    .drawer-content-inner {
      max-width: 1200px;
      margin: auto;
    }
  }

  &.left,
  &.right {
    top: 0;
    height: 100%;
    min-width: 20vw;
    max-width: 30vw;
    .drawer-content-inner {
      margin-bottom: 20vh;
    }
    .drawer-close {
      top: 0;
    }
  }

  &.top {
    top: 0;
    transform: translateY(-100%);

    .drawer-close {
      bottom: 0;
    }

    &.open {
      transform: translateY(0);
    }
  }

  &.right {
    right: 0;
    transform: translateX(100%);



    .drawer-close {
      left: 0;
    }

    &.open {
      transform: translateY(0);
    }

    .drawer-content-inner {
      height: 100%;
      padding-top: 2em;
    }
  }

  &.bottom {
    bottom: 0;
    transform: translateY(100%);

    &.open {
      transform: translateY(0);
    }

    .drawer-close {
      position: absolute;
      top: 0;
    }
  }

  &.left {
    left: 0;
    transform: translateX(-100%);

    .drawer-close {
      right: 0;
    }

    &.open {
      transform: translateY(0);
    }
  }
}

.backdrop {
  @extend %backdrop;
  display: none;
  z-index: 24;

  &.show {
    display: block;
  }
}
