<button class="drawer-toggle btn icon" title="toggle {{title}}" (click)="toggle()">
  <i class="icon" [ngClass]="icon"></i>
  <ng-content select="[button]"></ng-content>
</button>
<div class="drawer-content" [ngClass]="contentClass()">
  <div class="drawer-content-inner">
    <h2 *ngIf="title" class="drawer-title">{{title}}</h2>
    <button class="drawer-close btn icon" (click)="toggle()">
      <i class="icon fa-solid" [ngClass]="closeBtnIcon()"></i>
    </button>
    <ng-content select="[content]"></ng-content>
  </div>
</div>
<div class="backdrop" *ngIf="open" (click)="toggle()"></div>
