<button *ngIf="button" class="toggle-btn" (click)="toggle()" [title]="title">
  <ng-content select="[button]"></ng-content>
</button>
<div #popupWindow [id]="id" class="popup-window" [ngClass]="{'show': open}">
  <div class="popup-header">
    <button class="close-btn" (click)="toggle()"><i class="fa-solid fa-times"></i></button>
    <h2 class="popup-title">{{title}}</h2>
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="popup-content">
    <ng-content select="[content]"></ng-content>
  </div>
  <div class="popup-footer">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
<div #popupBackDrop [id]="id + '-backdrop'" class="popup-backdrop" [ngClass]="{'show': open}" (click)="toggle()"></div>
