@use '../field/field.component';

.input {
  width: 100%;
  padding-right: 2em;
  box-sizing: border-box;
}

.input-wrap {
  display: block;
  width: 100%;
  position: relative;
}

button.toggle {
  font-size: 1em;
  line-height: 1;
  background: transparent;
  border-radius: 0;
  border: none;
  flex: 0 1 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2em;
  margin: 0;
  opacity: .8;
  margin: 0;

  &:hover,
  &:focus-visible {
    color: initial;
    background: transparent;
    opacity: 1;
  }

  i {
    font-size: 1em;
    line-height: 1;
  }
}
