body {
  margin: 0;
  --error: #f00;
  --warning: #fcc32b;
  --success: #2cbf18;
  --info: #1890bf;
}

%visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0;
}

.visually-hidden,
.sr-only {
  @extend %visually-hidden;
}
