.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &:focus-within {
    .nav-item {
      &.current {
        border: none;
        // opacity: .8;
        border-top: 2px solid var(--primary);
        pointer-events: none;
      }
    }
  }
}

.nav-item {
  list-style-type: none;
  margin-right: 1em;

  &.current,
  &:hover,
  &:focus-visible {
    border-bottom: 2px solid var(--primary);
  }
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
