RewriteEngine on

# core/users/get/1
# ?type=users&action=index
RewriteRule ^core/([^/]+)$ index.php?apitype=$1&action=index [QSA,L,NC]

# core/users/get
# ?apitype=users&action=get
RewriteRule ^core/([^/]+)/([^/]+)$ index.php?apitype=$1&action=$2 [QSA,L,NC]

# core/users/get/1
# ?apitype=users&action=get&id=1
RewriteRule ^core/([^/]+)/([^/]+)/([^/]+)$ index.php?apitype=$1&action=$2&id=$3 [QSA,L,NC]

# core/certificates/course/:courseId/:userId
# ?apitype=users&action=get&id=1
RewriteRule ^core/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?apitype=$1&action=$2&id=$3&id2=$4 [QSA,L,NC]
