@use '../field/field.component';

.label {
  display: block;
  margin: 0 1ex .5em 0;
}

.existing {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;

  .item {
    @extend %tag;
    display: inline-block;
    margin-left: 1ex;
  }
}
.select {
  position: relative;

  .filter {
    width: 100%;
    box-sizing: border-box;
  }

  .options {
    position: absolute;
    overflow: hidden;
    top: 100%;
    width: 100%;
    margin: 0;
    padding: 0 1ex;
    list-style-type: none;
    overflow: auto;
    background: var(--body);
    max-height: 7em;
    border: 1px solid var(--border);
  }

  .option {
    padding: 0 1ex;
    margin: .5em 0 0;
    border: none;
    background: transparent;
    font-size: 1em;
    width: 100%;
    text-align: left;

    &:hover,
    &:focus-visible {
      background: var(--primary);
      color: var(--primary-text);
      cursor:pointer;
    }
  }
}
