/**
 * Basic layout styling, will be overridden by specific apps
 */
:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  padding: 10px 10px 0;
}

main {
  grid-area: main;
  padding: 10px;
}

footer {
  grid-area: footer;
  padding: 0 10px 10px;
}
