/**
 * Basic layout styling, will be overridden by specific apps
 */
:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  overflow: hidden;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  padding: var(--space) var(--space) calc(var(--space) / 2);
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'menu content';
  width: 100%;
  overflow: hidden;
}

.app-menu {
  grid-area: menu;
}

.main-content {
  grid-area: content;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: inherit;
  // display: flex;
  // flex-direction: column;
}

.page-title {
  margin: 0 0 .5em;
}

footer {
  grid-area: footer;
  padding: calc(var(--space) / 2) var(--space);
  border-top: 1px solid var(--border);
  width: 100%;
  box-sizing: border-box;
}
