<div #messagesDrawer class="messages drawer" position="right" title="Messages" [icon]="icon()" (onToggle)="detectChanges()">
  <span button class="badge" *ngIf="count > 0">{{count}}</span>
  <div content class="messages-inner">
    <button class="dismiss-all" (click)="clearList()" *ngIf="count > 1">Dismiss all</button>
    <p class="none" *ngIf="count == 0">No messages.</p>
    <ul class="messages" *ngIf="count > 0">
      <li *ngFor="let message of list()" id="message-{{message.messageId}}" class="message" [ngClass]="message.type">
        <button class="dismiss-btn icon" (click)="remove(message.messageId)"><i class="fa-solid fa-times"></i></button>
        <p class="message-text" [innerHTML]="message.text"></p>
        <p class="date" [title]="message.dateStr()">{{message.messageAge()}}</p>
      </li>
    </ul>
  </div>
</div>

<div class="toast message" *ngIf="toastMessage" [ngClass]="toastClass">
  <button class="dismiss-btn icon" (click)="dismissToast(toastMessage.messageId)"><i class="fa-solid fa-times"></i></button>
  <p class="toastMessage-text" [innerHTML]="toastMessage.text"></p>
</div>
