:host {
  --drawer-width: 20vw;
}

.badge {
  position: absolute;
  left: 0;
  bottom: 0;
  background: red;
  color: var(--body-light);
  border-radius: 1em;
  font-size: 10px;
  padding: .2em .5em;
}

.messages {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.message {
  position: relative;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: var(--space) var(--space) var(--space) 1.5em;
  margin-bottom: var(--space);

  .dismiss-btn {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: transparent;
    line-height: 1;
    padding: 0;
    margin: 5px;
    font-size: 1em;
    min-height: 1em;
    min-width: 1em;
  }

  .message-text {
    margin: 0;
  }

  .date {
    font-size: .8em;
    text-align: right;
    margin: 0;
  }
}

.none {
  margin: 0;
  padding: 0 var(--space);
}

.dismiss-all {
  float: right;
  margin: var(--space);
  border: none;
  background: transparent;
}

.toast {
  position: absolute;
  top: 0;
  right: var(--space);
  z-index: 99;
  background: var(--body);
  border: 1px solid var(--border);
  box-shadow: -2px 2px 2px var(--default-text);
  transition: top 2s, right 1s;
  max-width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: 600px) {
    max-width: 600px;
  }

  &.up {
    top: -30vh;
  }

  &.transition {
  }

  &.down,
  &.right {
    top: 100%;
  }

  &.right {
    right: -100vw;
  }
}
