<button (click)="toggle()" class="messages-button">
  <i class="fa-solid fa-bell"></i>
  <span class="badge" *ngIf="count > 0">{{count}}</span>
</button>
<div class="drawer" [ngClass]="{'open': open}">
  <button class="close" (click)="toggle()"><i class="fa-solid fa-arrow-right"></i></button>
  <button class="dismiss-all" (click)="clearList()">Dismiss all</button>
  <p class="none" *ngIf="count == 0">No messages.</p>
  <ul class="messages" *ngIf="count > 0">
    <li *ngFor="let message of list()" id="message-{{message.id}}" class="message" [ngClass]="message.type">
      <button class="dismiss-btn icon" (click)="remove(message.id)"><i class="fa-solid fa-times"></i></button>
      <p class="message-text">{{message.text}}</p>
      <p class="date" [title]="message.dateStr()">{{message.since()}}</p>
    </li>
  </ul>
</div>
